<template>
  <div class="box">
    <p><slot/></p>
    <p> Your clicks: {{ clicks }}</p>
  </div>
</template>
  
<style>
  .box {
    background: darkslategray;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    cursor: pointer;
    user-select: none;
    transform: scale(1);
    transition: all 0.1s ease-out;
  }

  .box:active:hover {
    transform: scale(0.98);
  }

  .box p {
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
</style>

<script>

  var data = {
    clicks: 0
  }

  function onClick() {
    data.clicks += 1;
  }

</script>